<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Contact - Yowamusic</title>
    <meta name="description" content="Get in touch with Yowa's management via ...">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }

        .contact-parallax {
            background-position: center 26% !important;
        }
    </style>
</head>

<body>
    <div class="ie-panel">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-bell">
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                    data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-lg-stick-up="true"
                    data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand" href="/">YOWA MUSIC
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                                    </li>

                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/bio">Bio</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/music">Music</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/video">Video</a>

                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/contact">Contact</a>

                                    </li>
                                </ul>
                            </div>

                        </div>
                </nav>
                </div>
        </header>
        <section class="breadcrumbs-custom">
            <div class="parallax-container contact-parallax" data-parallax-img="../images/public/gallery/bio.jpg">
                <div class="breadcrumbs-custom-body parallax-content context-dark">
                    <div class="container">
                        <h2 class="breadcrumbs-custom-title">Contacts</h2>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-custom-footer">
                <div class="container">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/">Home</a></li>
                        <li class="active">Contacts</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Get in touch-->
        <section class="section section-xl bg-default text-md-left">
            <div class="container">
                <div class="title-classic">
                    <h3 class="title-classic-title">Get in touch</h3>
                    <p class="title-classic-subtitle">Feel free to contact Yowa's management 24/7 by e-mail or by phone. <br class="d-none d-lg-block">You can also use our quick contact form to contact them directly.</p>
                </div>
                <form class="rd-form rd-mailform" data-form-output="form-output-global" method="post" action="/contact">
                    <div class="row row-20 row-md-30">
                        <div class="col-lg-8">
                            <div class="row row-20 row-md-30">
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="firstName" type="text" name="firstName" data-constraints="@Required" />
                                        <label class="form-label" for="firstName">First Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="lastName" type="text" name="lastName" data-constraints="@Required" />
                                        <label class="form-label" for="lastName">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="email" type="email" name="email" data-constraints="@Email @Required" />
                                        <label class="form-label" for="email">E-mail</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="number" type="text" name="number" data-constraints="@Numeric" />
                                        <label class="form-label" for="number">Number</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-wrap">
                                <label class="form-label" for="message">Message</label>
                                <textarea class="form-input textarea-lg" id="message" name="message" data-constraints="@Required"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="button button-lg button-primary button-zakaria" type="submit">Send Message</button>
                </form>
            </div>
        </section>


        <!-- Page Footer-->
        <footer class="section footer-creative footer-creative-2">
          <%- include('../../partials/footer')%>
        </footer>

        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="../js/core.min.js" defer></script>
        <script src="../js/script.js" defer></script
</body>

</html>
