<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Gallery - Yowamusic</title>
    <meta name="description" content="Explore Yowa's gallery as she tour around the globe">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        
        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
        
        .gallery-parallax {
            background-position: center 26% !important;
        }
    </style>
</head>

<body>
    <div class="ie-panel">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-bell">
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                    data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-lg-stick-up="true"
                    data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand" href="/">YOWA MUSIC
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                                    </li>

                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/bio">Bio</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/music">Music</a>

                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/gallery">Gallery</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/video">Video</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact</a>

                                    </li>
                                </ul>
                            </div>

                        </div>
                </nav>
                </div>
        </header>
        <section class="breadcrumbs-custom">
            <div class="parallax-container gallery-parallax" data-parallax-img="../images/public/gallery/summer.jpg">
                <div class="breadcrumbs-custom-body parallax-content context-dark">
                    <div class="container">
                        <h2 class="breadcrumbs-custom-title">Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-custom-footer">
                <div class="container">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/">Home</a></li>
                        <li><a class="active">Gallery</a></li>

                    </ul>
                </div>
            </div>
        </section>
        <!-- Grid Gallery-->
        <section class="section section-xl bg-default">
            <div class="container-fluid isotope-wrap isotope-custom-2">
                <div class="isotope-filters">
                    <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
                    <div class="isotope-filters-list-wrap">
                        <ul class="isotope-filters-list">
                            <li><a class="active" href="#" data-isotope-filter="*">all Categories</a></li>
                            <li><a href="#" data-isotope-filter="Type 1">Events</a></li>
                            <li><a href="#" data-isotope-filter="Type 2">Tours</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row row-30 isotope" data-lightgallery="group">
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img1.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img1.jpeg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/bio.jpg" data-lightgallery="item"><img src="../images/public/gallery/bio.jpg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img2.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img2.jpeg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img10.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img10.jpeg" alt="" width="480" height="339" /></a>

                            <!-- <div class="thumbnail-classic-caption">
                                <div>
                                    <h5 class="thumbnail-classic-title"><a href="#">Wireless Festival</a></h5>
                                    <div class="thumbnail-classic-tag">Events</div>
                                </div>
                            </div> -->
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img11.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img11.jpeg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/summer.jpg" data-lightgallery="item"><img src="../images/public/gallery/summer.jpg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img9.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img9.jpeg" alt="" width="480" height="339" /></a>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-3 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail-classic">
                            <a class="thumbnail-classic-figure" href="../images/public/gallery/img3.jpeg" data-lightgallery="item"><img src="../images/public/gallery/img3.jpeg" alt="" width="480" height="339" /></a>

                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Footer-->
        <footer class="section footer-creative footer-creative-2">
        </footer>
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="../js/core.min.js"></script>
        <script src="../js/script.js"></script>
        <script src="../components/footer.js"></script>
</body>

</html>