<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Home - Yowamusic</title>
    <meta name="description" content="Welcome to the Nigerian singer / song writer official and redefined web page.">
    <meta name="keywords" content="Yowamusic, Yowamusic.com, Yowamusic.com.ng, Yowamusic.ng, Yowa, yowa, yowamusic, mayowa dorcas, shebebe, shebebe dance">
    <meta name="author" content="Yowamusic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/custom.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        
        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>

<body>
    <div class="ie-panel">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-bell">
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                    data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-lg-stick-up="true"
                    data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <a class="brand" href="/">YOWA MUSIC
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                                    </li>

                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/bio">Bio</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/music">Music</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/video">Video</a>

                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact</a>

                                    </li>
                                </ul>
                            </div>

                        </div>
                </nav>
                </div>
        </header>

        <section class="section section-xxl bg-default" id="newsletter">
            <div class="container">
                <div class="form-style-1">
                    <h2 class="title-style-10 wow fadeScale">Join my <span style="border-bottom: 5px solid #1baddd">News</span>letter</h2>
                    <form class="rd-form rd-mailform rd-form-text-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="/subscribe">
                        <div class="form-wrap wow fadeInUp">
                            <input class="form-input" id="subscribe-form-1-email" type="email" name="email" data-constraints="@Email @Required" style="font-style: 28px !important;">
                            <label class="form-label" for="subscribe-form-1-email">Enter Your E-mail</label>
                        </div>
                        <div class="form-button wow fadeInUp" data-wow-delay=".1s">
                            <button class="button button-primary button-zakaria" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Page Footer-->
        <footer class="section footer-creative footer-creative-2">

        </footer>
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="js/core.min.js"></script>
        <script src="js/script.js"></script>
        <script src="components/footer.js"></script>
</body>

</html>